<div>
    <a style="font-size: larger;">BukaToko</a>
    <a style="text-decoration: none; color: #616161;" href="/">Home</a>
    <a style="text-decoration: none; color: #616161;" href="/register">Register</a>
</div>