<div style="
background-color: #04AA6D;
width: 100%;
height: 40px;
padding: 10px;
font-size: 20px;
color: #ffffff;
margin-bottom: 20px;
">
    <a style="font-size: xx-large; font-weight: bold;">BukaToko</a>
    <a style="text-decoration: none; color: #ffffff;" href="/">Home</a>
    <a style="text-decoration: none; color: #ffffff;" href="/register">Register</a>
</div>