<div>
    <a style="font-size: larger;">BukaToko</a>
    <a style="text-decoration: none; color: #616161;" href="/buyer/Dashboard">Dashboard</a>
    <a style="text-decoration: none; color: #616161;" href="/logout">Log Out</a>
</div>