<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <%- include('./partials/style.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div>
        <h2>Register</h2>
    </div>
    <div>
    </div>
    <div>
        <form action="/register" method="post">
            <div>
                <p>
                    <label for="username">Username</label><br>
                    <input type="text" id="username" name="username">
                </p>
                <p>
                    <label for="password">Password</label><br>
                    <input type="text" id="password" name="password">
                </p>
                <p>
                    <label for="role">Role</label>
                    <select name="role" id="role">
                        <option value="" disabled selected>Choose..</option>
                        <option value="Seller">Seller</option>
                        <option value="Buyer">Buyer</option>
                    </select>
                </p>
                <button class="btn" type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
</html>